.textAreaStyle{
    height: 200px;
    width: 60svw;
    resize: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    font-weight: 400;
    color:rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    line-height: 1.4375em;
    padding: 2em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
textarea:focus {
    border: 2px solid #007bff; 
    outline: none;
}